
    <link href="/green/css/bootstrap.min.css" rel="stylesheet">
    <link href="/green/css/theme.css" rel="stylesheet">
    <link href="/green/css/style.css" rel="stylesheet">











    <header class="head-section">
      <div class="navbar navbar-default navbar-static-top container">
          <div class="navbar-header">
           
              <a class="navbar-brand" style=" display: inline-block; background-image: url(/image/logo.png); height: 90px; width: 100px;background-size: 95px 90px;  background-repeat: no-repeat; margin-top: -1px;" href="index.html"></a>

          
          </div>
          <div class="navbar-collapse collapse" >
              <ul class="nav navbar-nav" >
                  <li class="dropdown" >
                      <a  href="/articles/index" style="font-size: 18px;"> 首页
                      </a>
                  
                  </li>
                  <li class="dropdown">
                      <a  href="/shop/index" style="font-size: 18px;">商城 
                      </a>
                
                  </li>
                  <li class="dropdown">
                      <a href="#" style="font-size: 18px;">关于我们 
                      </a>
                   
                  </li>
                <!--   <li class="dropdown">
                      <a class="dropdown-toggle" data-close-others="false" data-delay="0" data-hover=
                      "dropdown" data-toggle="dropdown" href="#" style="font-size: 18px;">Portfolio <i class="fa fa-angle-down"></i>
                      </a>
                      <ul class="dropdown-menu">
                          <li>
                              <a href="portfolio-3-col.html">Portfolio 3 column</a>
                          </li>
                          <li>
                              <a href="portfolio-4-col.html">Portfolio 4 column</a>
                          </li>
                          <li>
                              <a href="portfolio-single-image.html">Portfolio Single Image</a>
                          </li>
                          <li>
                              <a href="portfolio-single-video.html">Portfolio Single Video</a>
                          </li>
                      </ul>
                  </li> -->
              <!--     <li class="dropdown">
                      <a class="dropdown-toggle" data-close-others="false" data-delay="0" data-hover=
                      "dropdown" data-toggle="dropdown" href="#" style="font-size: 18px;" >Blog <i class="fa fa-angle-down"></i>
                      </a>
                      <ul class="dropdown-menu">
                          <li>
                              <a href="blog.html" >Blog</a>
                          </li>
                          <li>
                              <a href="blog-two-col.html">Blog two column</a>
                          </li>
                          <li>
                              <a href="blog-detail.html">Blog Single Image</a>
                          </li>
                          <li>
                              <a href="blog-detail-video.html">Blog single video</a>
                          </li>
                      </ul>
                  </li> -->
                  <li>
                      <a href="" style="font-size: 18px;">联系我们</a>
                  </li>
                  <li><input class="form-control search" placeholder=" Search" type="text">  </li>
              </ul>
          </div>
      </div>
    </header>
   